<script type='text/javascript'>
var skills_to_attribute = {
	{% for skill in skills %}
		'{{skill.name|lower|cut:" "}}':'{{skill.attribute}}',
	{% endfor %}
};
summary_data['skills'] = {
	{% for skill in skills %}
		'{{skill.name|lower|cut:" "}}':0,
	{% endfor %}
};

summary_data['skill_groups'] = {
	{% for group in skill_groups %}
		'{{group.name|lower|cut:" "}}': 0,
	{% endfor %}
};

//
var races = {
'human': {'bodmin': 1,'bodmax': 6,'bodaug': 10,'agimin': 1,'agimax': 6,'agiaug': 10,'reamin': 1,'reamax': 6,'reaaug': 10,'strmin': 1,'strmax': 6,'straug': 10,'chamin': 1,'chamax': 6,'chaaug': 10,'intmin': 1,'intmax': 6,'intaug': 10,'logmin': 1,'logmax': 6,'logaug': 10,'wilmin': 1,'wilmax': 6,'wilaug': 10,'inimin': 2,'inimax': 12,'iniaug': 20,'edgmin': 2,'edgmax': 7,'edgaug': 7,'magmin': 1,'magmax': 6,'magaug': 6,'resmin': 1,'resmax': 6,'resaug': 6,'essmin': 0,'essmax': 6,'essaug': 6,'bonus': [],'source': 'SR5','page': 50,},
'elf': {'bodmin': 1,'bodmax': 6,'bodaug': 10,'agimin': 2,'agimax': 7,'agiaug': 11,'reamin': 1,'reamax': 6,'reaaug': 10,'strmin': 1,'strmax': 6,'straug': 10,'chamin': 3,'chamax': 8,'chaaug': 12,'intmin': 1,'intmax': 6,'intaug': 10,'logmin': 1,'logmax': 6,'logaug': 10,'wilmin': 1,'wilmax': 6,'wilaug': 10,'inimin': 2,'inimax': 12,'iniaug': 20,'edgmin': 1,'edgmax': 6,'edgaug': 6,'magmin': 1,'magmax': 6,'magaug': 6,'resmin': 1,'resmax': 6,'resaug': 6,'essmin': 0,'essmax': 6,'essaug': 6,'qualities': ['Low-Light Vision'],'bonus': [],'source': 'SR5','page': 50,},
'dwarf': {'bodmin': 3,'bodmax': 8,'bodaug': 12,'agimin': 1,'agimax': 6,'agiaug': 10,'reamin': 1,'reamax': 5,'reaaug': 9,'strmin': 3,'strmax': 8,'straug': 12,'chamin': 1,'chamax': 6,'chaaug': 10,'intmin': 1,'intmax': 6,'intaug': 10,'logmin': 1,'logmax': 6,'logaug': 10,'wilmin': 2,'wilmax': 7,'wilaug': 11,'inimin': 2,'inimax': 11,'iniaug': 19,'edgmin': 1,'edgmax': 6,'edgaug': 6,'magmin': 1,'magmax': 6,'magaug': 6,'resmin': 1,'resmax': 6,'resaug': 6,'essmin': 0,'essmax': 6,'essaug': 6,'qualities': ['Thermographic Vision', 'Resistance to Pathogens and Toxins'],'source': 'SR5','page': 50,'bonus': []},
'ork': {'bodmin': 4,'bodmax': 9,'bodaug': 13,'agimin': 1,'agimax': 6,'agiaug': 10,'reamin': 1,'reamax': 6,'reaaug': 10,'strmin': 3,'strmax': 8,'straug': 12,'chamin': 1,'chamax': 5,'chaaug': 9,'intmin': 1,'intmax': 6,'intaug': 10,'logmin': 1,'logmax': 5,'logaug': 9,'wilmin': 1,'wilmax': 6,'wilaug': 10,'inimin': 2,'inimax': 12,'iniaug': 20,'edgmin': 1,'edgmax': 6,'edgaug': 6,'magmin': 1,'magmax': 6,'magaug': 6,'resmin': 1,'resmax': 6,'resaug': 6,'essmin': 0,'essmax': 6,'essaug': 6,'qualities': ['Low-Light Vision'],'bonus': [],'source': 'SR5','page': 50,},
'troll': {'bodmin': 5,'bodmax': 10,'bodaug': 14,'agimin': 1,'agimax': 5,'agiaug': 9,'reamin': 1,'reamax': 6,'reaaug': 10,'strmin': 5,'strmax': 10,'straug': 14,'chamin': 1,'chamax': 4,'chaaug': 8,'intmin': 1,'intmax': 5,'intaug': 9,'logmin': 1,'logmax': 5,'logaug': 9,'wilmin': 1,'wilmax': 6,'wilaug': 10,'inimin': 2,'inimax': 11,'iniaug': 19,'edgmin': 1,'edgmax': 6,'edgaug': 6,'magmin': 1,'magmax': 6,'magaug': 6,'resmin': 1,'resmax': 6,'resaug': 6,'essmin': 0,'essmax': 6,'essaug': 6,'qualities': ['Thermographic Vision'], 'bonus': {'armor': '1', 'reach': '1', 'lifestylecost': '100'},'source': SR5,'page': 50,},
};

</script>