<script type='text/javascript'>
var attributes={
	'bod': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'agi': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'rea': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'str': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'cha': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'int': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'log': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'wil': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'edg': {'base': 1, 'aug': 1, 'min': 1, 'max': 6},
	'mag': {'base': 0, 'aug': 0, 'min': 0, 'max': 0},
	'res': {'base': 0, 'aug': 0, 'min': 0, 'max': 0},
	'ini': {'base': 0, 'aug': 0, 'min': 0, 'max': 0},
	'ess': {'base': 6, 'aug': 0, 'min': 0, 'max': 6}
}

var modifiers = [
]

var summary_data={
	'priorities_spent': 0,
	'priorities_available': 16,
	'attributes_spent': 0,
	'attributes_available': 16,
	'special_attributes_spent': 0,
	'special_attributes_available': 1,
	'skills_spent': 0,
	'skills_available': 16,
	'skill_groups_spent': 0,
	'skill_groups_available': 10,
	'karma': 25,
	'attributes': attributes,
	'qualities': [],
	'race': '',
	'magic': {'mag': 0, 'res': 0},
	'nuyen': 6000,
	'essence': 6
}
var skills_to_attribute = {
	{% for skill in skills %}
		'{{skill.name|lower|cut:" "}}':'{{skill.attribute}}',
	{% endfor %}
};
summary_data['skills'] = {
	{% for skill in skills %}
		'{{skill.name|lower|cut:" "}}':0,
	{% endfor %}
};

summary_data['skill_groups'] = {
	{% for group in skill_groups %}
		'{{group.name|lower|cut:" "}}': 0,
	{% endfor %}
};

var races = {
'human': {'bod': {'min': '1', 'max': '6', 'aug': '10'},'agi': {'min': '1', 'max': '6', 'aug': '10'},'rea': {'min': '1', 'max': '6', 'aug': '10'},'str': {'min': '1', 'max': '6', 'aug': '10'},'cha': {'min': '1', 'max': '6', 'aug': '10'},'int': {'min': '1', 'max': '6', 'aug': '10'},'log': {'min': '1', 'max': '6', 'aug': '10'},'wil': {'min': '1', 'max': '6', 'aug': '10'},'edg': {'min': '2', 'max': '7', 'aug': '7'},'ini': {'min': '2', 'max': '12', 'aug': '20'},'ess': {'min': '0', 'max': '6', 'aug': '6'},'qualities': [],'bonus': {},'source': 'SR5','page': '50',},
'elf': {'bod': {'min': '1', 'max': '6', 'aug': '10'},'agi': {'min': '2', 'max': '7', 'aug': '11'},'rea': {'min': '1', 'max': '6', 'aug': '10'},'str': {'min': '1', 'max': '6', 'aug': '10'},'cha': {'min': '3', 'max': '8', 'aug': '12'},'int': {'min': '1', 'max': '6', 'aug': '10'},'log': {'min': '1', 'max': '6', 'aug': '10'},'wil': {'min': '1', 'max': '6', 'aug': '10'},'edg': {'min': '1', 'max': '6', 'aug': '6'},'ini': {'min': '2', 'max': '12', 'aug': '20'},'ess': {'min': '0', 'max': '6', 'aug': '6'},'qualities': ['Low-Light Vision',],'bonus': {},'source': 'SR5','page': '50',},
'dwarf': {'bod': {'min': '3', 'max': '8', 'aug': '12'},'agi': {'min': '1', 'max': '6', 'aug': '10'},'rea': {'min': '1', 'max': '5', 'aug': '9'},'str': {'min': '3', 'max': '8', 'aug': '12'},'cha': {'min': '1', 'max': '6', 'aug': '10'},'int': {'min': '1', 'max': '6', 'aug': '10'},'log': {'min': '1', 'max': '6', 'aug': '10'},'wil': {'min': '2', 'max': '7', 'aug': '11'},'edg': {'min': '1', 'max': '6', 'aug': '6'},'ini': {'min': '2', 'max': '11', 'aug': '19'},'ess': {'min': '0', 'max': '6', 'aug': '6'},'qualities': ['Thermographic Vision','Resistance to Pathogens and Toxins',],'bonus': {'lifestylecost': '20',},'source': 'SR5','page': '50',},
'ork': {'bod': {'min': '4', 'max': '9', 'aug': '13'},'agi': {'min': '1', 'max': '6', 'aug': '10'},'rea': {'min': '1', 'max': '6', 'aug': '10'},'str': {'min': '3', 'max': '8', 'aug': '12'},'cha': {'min': '1', 'max': '5', 'aug': '9'},'int': {'min': '1', 'max': '6', 'aug': '10'},'log': {'min': '1', 'max': '5', 'aug': '9'},'wil': {'min': '1', 'max': '6', 'aug': '10'},'edg': {'min': '1', 'max': '6', 'aug': '6'},'ini': {'min': '2', 'max': '12', 'aug': '20'},'ess': {'min': '0', 'max': '6', 'aug': '6'},'qualities': ['Low-Light Vision',],'bonus': {},'source': 'SR5','page': '50',},
'troll': {'bod': {'min': '5', 'max': '10', 'aug': '14'},'agi': {'min': '1', 'max': '5', 'aug': '9'},'rea': {'min': '1', 'max': '6', 'aug': '10'},'str': {'min': '5', 'max': '10', 'aug': '14'},'cha': {'min': '1', 'max': '4', 'aug': '8'},'int': {'min': '1', 'max': '5', 'aug': '9'},'log': {'min': '1', 'max': '5', 'aug': '9'},'wil': {'min': '1', 'max': '6', 'aug': '10'},'edg': {'min': '1', 'max': '6', 'aug': '6'},'ini': {'min': '2', 'max': '11', 'aug': '19'},'ess': {'min': '0', 'max': '6', 'aug': '6'},'qualities': ['Thermographic Vision',],'bonus': {'armor': '1','reach': '1','lifestylecost': '100',},'source': 'SR5','page': '50',},
}
</script>