<!-- Common Tab -->
<div role="tabpanel" class="tab-pane" id="gear">
    <!-- Spells -->
    <div class='col-xs-8'>
    </div>

    <!-- ??? -->
    <div class='col-xs-4'>
    </div>

    <button data-toggle="modal" data-target="#gear-modal">Add Gear</button>
	<div class="modal fade" id='gear-modal'>
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <div class='gear modal-list'>
	                    <div class='col-xs-8'>
	                    	<ul class="list-group gear-list">
	                    	{% for gear in gears %}
	                    		<li class="list-group-item no-pad gear-item">{{gear.name}}</li>
	                    	{% endfor %}
	                    	</ul>
	                    </div>
	                    <div class='col-xs-4'>
	                        <div class='gear-description'>
	                        </div>
	                        <ul class="nav nav-tabs">
	                            <li class='nav-cancel'><a data-role="button" href="#">Cancel</a></li>
	                            <li class='nav-add-gear'><a data-role="button" href="#">Add</a></li>
	                        </ul>   
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

</div>

