{% load static %}
<!doctype html>
<html>
	<head>
		<title>Wiz</title>
        <script src={% static 'jquery-ui-1.10.4/js/jquery-1.10.2.js' %}></script>
        <script src={% static 'jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
        <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
        <link href="{% static 'bootstrap-glyphicons-master/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
	</head>
	<body>
        <div class="header">
            <button>Priorities</button>
            <button>Common</button>
            <button>Skills</button>
            <button>Limits</button>
            <button>Spells and Spirits</button>
            <button>Adept Powers</button>
            <button>Cyberware/Bioware</button>
            <button>Street Gear</button>
            <button>Vehicles and Drones</button>
            <button>Charecter Info</button>
        </div>
        <div class="main-container col-xs-10 resizable" style="background-color:#00cc00">
            <!-- Common Tab -->
            <!-- Qualities

        </div>
        <div class="side-bar col-xs-2 resizable" style="background-color:#0000cc">

        </div>
        <!-- Karma Essence Nuyen -->
        <!-- Button to exchange karma to nuyen -->
        <div class="footer"></div>
	</body>
</html>