{% load static %}
<!doctype html>
<html>
	<head>
		<title>Wiz</title>
        <script src={% static 'jquery-ui-1.10.4/js/jquery-1.10.2.js' %}></script>
        <script src={% static 'jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
        <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
        <link href="{% static 'bootstrap-glyphicons-master/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
        <script src={% static 'js/main.js' %}></script>
        <script src={% static 'js/changepane.js' %}></script>
        <script src={% static 'js/priorities.js' %}></script>
	</head>
	<body>
        <!-- nav buttons -->
        <ul class="nav nav-tabs navbar-inverse" role="tablist">
            <li role="presentation" class="active"><a href="#priorities" aria-controls="priorities" role="tab" data-toggle="tab">Priorities</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Common</a></li>
            <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Spells and Spirits</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Adept Powers</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Cyberware/Bioware</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Street Gear</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Vehicles and Drones</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Charecter Info</a></li>
            <li class="divider"></li>
            <li><a href="#">Save</a></li>
        </ul>

        <!-- Main Wrapper -->     
        <div class="main-container col-xs-9 resizable">           
            <div class="tab-content">
                <!-- Tab Content -->
                {% include 'priorities.html' %}
                {% include 'common.html' %}
            </div>
        </div>

        <!-- Summary Sidebar -->
        <div class="side-bar col-xs-3 resizable">
            <table class='table'>
                <thead>
                        <ul class="nav nav-tabs">
                            <li class='nav-common'><a data-role="button" href="#">Common</a></li>
                            <li class='nav-skills'><a data-role="button" href="#">Skills</a></li>
                        </ul>                                                                                                    
                </thead>
                <tr><td>Primary Attributes</td><td id='summary-primary-attributes'>0 of 16</td></tr>
                <tr><td>Special Attributes</td><td id='summary-special-attributes'>0 of 16</td></tr>
                <tr><td>Positive Qualities</td><td id='summary-positive-qualities'>0 of 16</td></tr>
                <tr><td>Negative Qualities</td><td td='summary-negative-qualities'>0 of 16</td></tr>
                <tr><td>Nuyen</td><td id='summary-nuyen'>0 of 16</td></tr>
                <tr><td>Skill Groups</td><td id='summary-groups'>0 of 16</td></tr>
                <tr><td>Active Skills</td><td id='summary-skills'>0 of 16</td></tr>
                <tr><td>Knowledge Skills</td><td id='summary-knowledge'>0 of 16</td></tr>
                <tr><td>Spells</td><td id='summary-spells'>0 of 16</td></tr>
                <tr><td>Complex Forms</td><td id='summary-forms'>0 of 16</td></tr>
                <tr><td>Essence</td><td id='summary-essence'>0 of 16</td></tr>
                <tr><td>Contacts</td><td id='summary-contacts'>0 of 16</td></tr>
            </table>
        </div>
        <!-- Karma Essence Nuyen -->
        <!-- Button to exchange karma to nuyen -->
        <div class="footer"></div>

        <!-- Overlays -->
        <div class="modal fade" id='qualities-modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class='positive-qualities'>
                            <div class='col-xs-6'>
                                <ul class="list-group qualities-list">
                                {% for quality in positive_qualities %}
                                    <li class="list-group-item no-pad positive-quality-item" value={{quality.karma}} description="{{quality.description}}">{{quality.name}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class='col-xs-6'>
                                <div class='quality-description'>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class='nav-cancel'><a data-role="button" href="#">Cancel</a></li>
                                    <li class='nav-add-close'><a data-role="button" href="#">Add</a></li>
                                    <li class='nav-add'><a data-role="button" href="#">Add & More</a></li>
                                </ul>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
	</body>
</html>