{% load static %}
<!doctype html>
<html>
	<head>
		<title>Wiz</title>
        <script src={% static 'jquery-ui-1.11.2/external/jquery/jquery.js' %}></script>
        <script src={% static 'jquery-ui-1.11.2/jquery-ui.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'bootstrap-3.2.0-dist/css/bootstrap.css' %}" >
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" >
        <script src={% static 'bootstrap-3.2.0-dist/js/bootstrap.min.js' %}></script>
        <link href="{% static 'bootstrap-glyphicons-master/css/bootstrap.icon-large.min.css' %}" rel="stylesheet">
        {% include 'data.html' %}
        <script src={% static 'js/main.js' %}></script>
        <script src={% static 'js/priorities.js' %}></script>
        <script src={% static 'js/common.js' %}></script>
        <script src={% static 'js/skills.js' %}></script>
        <script src={% static 'js/qualities.js' %}></script>
        <script src={% static 'js/gear.js' %}></script>
        <script src={% static 'js/ware.js' %}></script>
        <script src={% static 'js/initialize.js' %}></script>
	</head>
	<body>
        <!-- nav buttons -->
        <ul class="nav nav-tabs navbar-inverse" role="tablist">
            <li role="presentation" class="active"><a href="#priorities" aria-controls="priorities" role="tab" data-toggle="tab">Priorities</a></li>
            <li role="presentation"><a href="#common" aria-controls="common" role="tab" data-toggle="tab">Common</a></li>
            <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
            <li role="presentation"><a href="#spells" aria-controls="spells" role="tab" data-toggle="tab">Spells and Spirits</a></li>
            <li role="presentation"><a href="#adept" aria-controls="adept" role="tab" data-toggle="tab">Adept Powers</a></li>
            <li role="presentation"><a href="#ware" aria-controls="ware" role="tab" data-toggle="tab">Cyberware/Bioware</a></li>
            <li role="presentation"><a href="#gear" aria-controls="gear" role="tab" data-toggle="tab">Street Gear</a></li>
            <li role="presentation"><a href="#vehicles" aria-controls="vehicles" role="tab" data-toggle="tab">Vehicles and Drones</a></li>
            <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Charecter Info</a></li>
            <li class="divider"></li>
            <!--<li><a href="#"><span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>-->
            <li><a href="#"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></a></li>
        </ul>

        <!-- Main Wrapper -->     
        <div class="main-container col-xs-10 resizable">           
            <div class="tab-content">
                <!-- Tab Content -->
                {% include 'priorities.html' %}
                {% include 'common.html' %}
                {% include 'skills.html' %}
                {% include 'spells.html' %}
                {% include 'gear.html' %}
                {% include 'ware.html' %}
            </div>
        </div>

        <!-- Summary Sidebar -->
        <div class="side-bar col-xs-2 resizable">
            <table class='table summary-table'>
                <thead>
                        <ul class="nav nav-tabs">
                            <li class='nav-common'><a data-role="button" href="#">Common</a></li>
                            <li class='nav-skills'><a data-role="button" href="#">Skills</a></li>
                        </ul>                                                                                                    
                </thead>
                <tr><td>Priorities</td><td id='summary-priorities'>0 of 10</td></tr>
                <tr><td>Primary Attributes</td><td id='summary-primary-attributes'>0 of 12</td></tr>
                <tr><td>Special Attributes</td><td id='summary-special-attributes'>0 of 1</td></tr>
                <tr><td>Nuyen</td><td id='summary-nuyen'>6000</td></tr>
                <tr><td>Active Skills</td><td id='summary-skills'>0 of 18</td></tr>
                <tr class='success'><td>Skill Groups</td><td id='summary-groups'>0 of 0</td></tr>
                <tr class='success'><td>Knowledge Skills</td><td id='summary-knowledge'>0</td></tr>
                <tr class='success'><td>Spells</td><td id='summary-spells'>0</td></tr>
                <tr class='success'><td>Complex Forms</td><td id='summary-forms'>0</td></tr>
                <tr class='success'><td>Essence</td><td id='summary-essence'>6</td></tr>
                <tr class='success'><td>Contacts</td><td id='summary-contacts'>0</td></tr>
                <tr class='success'><td>Karma</td><td id='summary-karma'>25</td></tr>
            </table>
        </div>
        <!-- Karma Essence Nuyen -->
        <!-- Button to exchange karma to nuyen -->
        <div class="footer"></div>
	</body>
</html>