<div role="tabpanel" class="tab-pane active" id="priorities">
<form class="form-horizontal">
	<div class="form-group form-inline">
		<label for="metatype" class="col-sm-2 control-label">Metatype</label>
		<select class="form-control" id="metatype">
	  		<option>1</option>
	  		<option>2</option>
	  		<option>3</option>
	  		<option>4</option>
	  		<option>5</option>
		</select>	
	</div>
	<div class="form-group form-inline">
		<label for="attributes" class="col-sm-2 control-label">Attributes</label>
		<select class="form-control" id="attributes">
	  		<option value='24'>A: 24 Attributes</option>
	  		<option value='20'>B: 20 Attributes</option>
	  		<option value='16'>C: 16 Attributes</option>
	  		<option value='14'>D: 14 Attributes</option>
	  		<option value='12'>E: 12 Attributes</option>
		</select>
	</div>
	<div class="form-group form-inline">
		<label for="magic" class="col-sm-2 control-label">Magic</label>
		<select class="form-control" id="magic">
	  		<option value='24'>A: Magic 6, Two Rating 5 Magic Skills, 10 Spells</option>
	  		<option value='20'>B: 20 Attributes</option>
	  		<option value='16'>C: 16 Attributes</option>
	  		<option value='14'>D: 14 Attributes</option>
	  		<option value='12'>E: 12 Attributes</option>
		</select>
	</div>
	<div class="form-group form-inline">
		<label for="skills" class="col-sm-2 control-label">Skills</label>
		<select class="form-control" id="skills">
	  		<option value='24'>A: 24 Attributes</option>
	  		<option value='20'>B: 20 Attributes</option>
	  		<option value='16'>C: 16 Attributes</option>
	  		<option value='14'>D: 14 Attributes</option>
	  		<option value='12'>E: 12 Attributes</option>
		</select>
	</div>
	<div class="form-group form-inline">
		<label for="resources" class="col-sm-2 control-label">Resources</label>
		<select class="form-control" id="resources">
	  		<option value='24'>A: 24 Attributes</option>
	  		<option value='20'>B: 20 Attributes</option>
	  		<option value='16'>C: 16 Attributes</option>
	  		<option value='14'>D: 14 Attributes</option>
	  		<option value='12'>E: 12 Attributes</option>
		</select>
	</div>
</form>	
</div>