<div role="tabpanel" class="tab-pane active" id="priorities">
	<form class="form-horizontal">
		<div class="form-group form-inline">
			<label for="metatype" class="col-sm-2 control-label">Metatype</label>
			<select class="form-control priority" id="priority-metatype">
		  		<option index=4 value='A'>A: Human(9) Elf(8) Dwarf(7) Ork(7) Troll(5)</option>
		  		<option index=3 value='B'>B: Human(7) Elf(6) Dwarf(4) Ork(4) Troll(0)</option>
		  		<option index=2 value='C'>C: Human(5) Elf(3) Dwarf(1) Ork(0)</option>
		  		<option index=1 value='D'>D: Human(3) Elf(0)</option>
		  		<option index=0 selected value='E'>E: Human(1)</option>
			</select>	
		</div>
		<div class="form-group form-inline">
			<label for="attributes" class="col-sm-2 control-label">Attributes</label>
			<select class="form-control priority" id="priority-attributes">
		  		<option index=4 value='{{priorities.attributes.A}}'>A: {{priorities.attributes.A}} Attributes</option>
		  		<option index=3 value='{{priorities.attributes.B}}'>B: {{priorities.attributes.B}} Attributes</option>
		  		<option index=2 value='{{priorities.attributes.C}}'>C: {{priorities.attributes.C}} Attributes</option>
		  		<option index=1 value='{{priorities.attributes.D}}'>D: {{priorities.attributes.D}} Attributes</option>
		  		<option index=0 selected value='{{priorities.attributes.E}}'>E: {{priorities.attributes.E}} Attributes</option>
			</select>
		</div>
		<div class="form-group form-inline">
			<label for="magic" class="col-sm-2 control-label">Magic</label>
			<select class="form-control priority" id="priority-magic">
		  		<option index=4 value='A'>A: Magician, Mystic Adept, Technomancer</option>
		  		<option index=3 value='B'>B: Magician, Mystic Adept, Technomancer, Adept, Aspected Magician</option>
		  		<option index=2 value='C'>C: Magician, Mystic Adept, Technomancer, Adept, Aspected Magician</option>
		  		<option index=1 value='D'>D: Adept, Aspected Magician</option>
		  		<option index=0 selected value='E'>E: No Magic</option>
			</select>
		</div>
		<div class="form-group form-inline">
			<label for="skills" class="col-sm-2 control-label">Skills</label>
			<select class="form-control priority" id="priority-skills">
		  		<option index=4 value='46/10'>A: 46 Skills/10 Skill Groups</option>
		  		<option index=3 value='36/5'>B: 36 Skills/5 Skill Groups</option>
		  		<option index=2 value='28/2'>C: 28 Skills/2 Skill Groups</option>
		  		<option index=1 value='22/0'>D: 22 Skills/0 Skill Groups</option>
		  		<option index=0 selected value='18/0'>E: 18 Skills/0 Skill Groups</option>
			</select>
		</div>
		<div class="form-group form-inline">
			<label for="resources" class="col-sm-2 control-label">Resources</label>
			<select class="form-control priority" id="priority-resources">
		  		<option index=4 value='A'>A: 450,000¥</option>
		  		<option index=3 value='B'>B: 275,000¥</option>
		  		<option index=2 value='C'>C: 140,000¥</option>
		  		<option index=1 value='D'>D: 50,000¥</option>
		  		<option index=0 selected value='E'>E: 6,0000¥</option>
			</select>
		</div>
	</form>	
</div>