<div role="tabpanel" class="tab-pane" id="skills">
	<div class='col-xs-4'>
		<table class='table'>
			<thead>
				<tr>
					<th>Skill Groups</th>
					<th>Points</th>
					<th>Karma</th>
				</tr>
			</thead>
			{% for group in skill_groups %}
			<tr class='skill-group' data-content="{% for skill in group.skills %}{{skill}} {% endfor %}" data-toggle="popover" data-trigger="hover" data-placement="top">
				<td >{{group.name}}</td>
	            <td class='group-{{group.id}}-base'><input class="spinner group-spinner" id='{{group.id}}' value="0"></td>
	            <td class='group-{{group.id}}-karma'><input class="spinner group-karma-spinner" value="0"></td>

			</tr>
			{% endfor %}
		</table>
	</div>
	<div class='col-xs-8'>
		<table class='table'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Attribute</th>
					<th>Points</th>
					<th>Karma</th>
					<th>Total</th>
					<th>Specialization</th>
				</tr>
			</thead>
			{% for skill in skills %}
			<tr class='{{skill.skillgroup}}'>
				<td>{{skill.name}}</td>
				<td>{{skill.attribute|upper}}</td>
	            <td ><input class="spinner skill-spinner" id='{{skill.name|lower|cut:" "}}' value="0"></td>
	            <td><input class="spinner skill-karma-spinner" value="0"></td>
	            <td id='total-{{skill.name|lower|cut:" "}}'>0</td>
	            <td>
	             	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    					Specialization<span class="caret"></span>
  					</button>
	            	<ul class="dropdown-menu" role="menu">
	            		{% for spec in skill.specialization_list %}
					    <li><a href="#">{{spec}}</a></li>
	            		{% endfor %}
 					</ul>
	            </td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>